body{
	background-color: #d9e3ff;
}

.page{
	width: 960px;
	margin: auto;
	background-color: #fff;
	padding: 0px 32px 32px 32px;
	border-radius: 32px;
}

.page #header{
	background-color: #88b2ff;
	border-radius: 32px;
	padding: 10px 32px;
	width: 960px;
	position: relative;
	left: -32px;
}

.page #header h1{
	font-size: 42px;
	color: white;
	margin-bottom: 10px;
	margin-top: 0px;
}

.page #header h3{
	margin: 0px;
	color: white;
	font-style: italic;
}

#listView{
	height: 580px;
}

#listView input{
	margin: 15px;
}

#userList{
	width: 593px;
}

.user{
	padding: 15px;
	text-align: center;
	background-color: #70b8ff;
	border: 1px solid black;
}

.user.credittrue{
	font-weight: bold;
	font-size: 20px;
}

.user.creditfalse{
	/*background-color: #ADD6ff;*/
}

.page #userList .user.selected{
	background-color: #cce6ff;
	border: 0;
}

#userPreview{
	position: relative;
	float: right;
	width: 34%;
	height: 490px;
	background-color: #cce6ff;
	margin-top: 52px;
	padding: 20px;	
}

#userPreview h1{
	text-align: center;
}

#userPreview #userInfo{
	font-size: 14px;
}

#userPreview #userInfo label{
	font-size: 16px;
}

#userPreview #userInfo label.float{
	position: relative;
	float: left;
}

#userPreview #userInfo .highlight{
	font-size: 22px;
}

#userPreview #userInfo p{
	text-align: right;
	font-size: 16px;
}

#userPreview #userInfo #questions p{
	margin: 0px;
}

.button{
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin: auto;
	top: 35px;
	width: 100px;
	margin-top: 40px;
}

.button div {
	background-color: #5a76cc;
	padding: 10px 20px;
	border-radius: 15px;
	text-decoration: none;
	-webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4), 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.4), 2px 2px 2px rgba(0, 0, 0, 0.2);
	width: 100px;
	text-align: center;
	text-decoration: none;
}